.to-do-items {
  display: flex;
  flex-wrap: wrap;
}

.items-block {
  position: relative;
  width: 23%;
  margin-right: 2%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #d8d8d8;
}

.to-do-items__delete {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;

}
