.items-block__title{
  margin-bottom: 10px;
  font-size: 18px;
}

.items-block__date {
  margin-top: 5px;
  font-size: 12px;
}

.items-block__edit-button {
  margin-top: 1px;
  font-size: 11px;
  padding: 1px 6px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: #ffffff;
}

.items-block__edit{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
