body {
  height: 100vh;
  padding: 0 20px;
}

button {
  display: block;
  &:disabled{
    opacity: .5;
  }
}

.form-input {
  width: 170px;
  height: 35px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ffffff;
}

.form-button {
  width: 100px;
  height: 38px;
  border-radius: 5px;
  background-color: #808080;
}

.form-textarea {
  width: 170px;
  height: 92px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ffffff;
  resize: none;
}

.form-select {
  width: 170px;
  height: 35px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ffffff;
}

.error {
  border-color: red;
}
